<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyles.css') }}">
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Questionnaire - Introvert-Extrovert Predictor</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <!-- Left side title / nav button -->
        <div id="navleft" class="col-md-4">
            <a href="/index">Nomads Inc</a>
        </div>
        <!-- Right side dropdown and links -->
        <div id="navlinks" class="col-md-8">
            <ul>
                <li>
                    <a href="/questionnaireHTML"><b>Questionnaire</b></a>
                </li>
                <li>
                    <a href="/analyticsHTML">ML Analytics</a>
                </li>
                <li>
                    <a href="/developmentHTML">Development</a>
                </li>
                <li>
                    <a href="/observationsHTML">Observations</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- Main body -->
    <main class="mainbody">
        <section class="box-set">
            <!-- Data box -->
            <section class="box box-single-outer">
            </section>
            <section class="box box-single">
              <header class="header">
                <h2>Introvert - Extrovert Predictor Questionnaire</h2>
              </header>
              <hr>
              <p>
                Answer all of the questions, then click submit to receive your assessment.
              </p>
              <section class="datatable table-responsive">
                <form method="POST" action="/send" role="form" name="questionnaireform" id="survey-form">
                  <div id="qformsurvey" class="qform"></div>
                </form>
              </section>
            </section>
            <!-- <section class="box-set box-footer">
                <h6>&copy Copyright Coding Bootcamp 2017</h6>
            </section> -->
        </section>
    </main>
    <!-- Footer -->
    <section class="box-footer">
        <h6>&copy Copyright Nomads, Inc. 2021</h6>
    </section>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- JavaScript files -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

  </body>
</html>

